@charset "UTF-8";
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  font-size: medium;
  font-weight: "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  line-height: 1.5;
}

html *,
html *:before,
html *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  height: 100%;
  color: #263238;
  font-family: "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  line-height: 1.5;
  color: #000000;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

address {
  font-style: normal;
}

.screen-reader-text {
  position: absolute;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
}

.l-section {
  padding: 16px 2.5%;
}

@media screen and (min-width: 576px) {
  .l-section {
    padding: 32px 2.5%;
  }
}

@media screen and (min-width: 768px) {
  .l-section {
    padding: 60px 2.5%;
  }
}

@media screen and (min-width: 1024px) {
  .l-section {
    padding: 60px 60px 58px;
  }
}

.l-wrapper {
  width: 95%;
  margin: 0 auto;
  overflow: hidden;
}

.l-main-wrapper {
  max-width: 80%;
}

@media screen and (min-width: 576px) {
  .l-main-wrapper {
    max-width: 55%;
  }
}

@media screen and (min-width: 768px) {
  .l-main-wrapper {
    max-width: 80%;
  }
}

@media screen and (min-width: 1024px) {
  .l-main-wrapper {
    max-width: 90%;
  }
}

.l-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.l-lower-header {
  background-color: #fff;
}

.l-header-wrapper {
  padding: 12px 0;
}

@media screen and (min-width: 768px) {
  .l-header-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 20px;
  }
}

@media screen and (min-width: 1024px) {
  .l-header-wrapper {
    padding: 20px 0;
  }
}

.l-header-title {
  margin: 0 2.5%;
  vertical-align: middle;
  position: relative;
  z-index: 3;
}

@media screen and (min-width: 768px) {
  .l-header-title {
    float: left;
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  .l-header-nav {
    margin-left: 120px;
  }
}

.l-global-nav {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  max-height: 195px;
  padding-top: 50px;
  background-color: #aaa;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

@media screen and (min-width: 768px) {
  .l-global-nav {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    padding-top: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: transparent;
  }
}

.l-modal-wrapper {
  position: fixed;
  z-index: 10;
  display: none;
  min-width: 256px;
  width: 80%;
}

@media screen and (min-width: 360px) {
  .l-modal-wrapper {
    min-width: 288px;
    width: 70%;
  }
}

@media screen and (min-width: 576px) {
  .l-modal-wrapper {
    width: 60%;
  }
}

@media screen and (min-width: 768px) {
  .l-modal-wrapper {
    width: 50%;
  }
}

@media screen and (min-width: 1400px) {
  .l-modal-wrapper {
    max-width: 550px;
    width: 28.6458333vw;
  }
}

.l-main {
  position: relative;
}

.l-main-section {
  background-image: url(../images/common/bg@2x.png);
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .l-main-section {
    padding: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .l-main-section {
    padding: 68px 0 90px;
  }
}

.l-page-section {
  padding: 40px 5%;
}

@media screen and (min-width: 768px) {
  .l-page-section {
    padding: 40px 0;
  }
}

@media screen and (min-width: 1024px) {
  .l-page-section {
    padding: 106px 0 78px;
  }
}

.l-page-wrapper {
  max-width: 389px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .l-page-wrapper {
    max-width: 100%;
  }
}

.l-section-button {
  max-width: 200px;
  margin: 30px auto 0;
}

@media screen and (min-width: 768px) {
  .l-section-button {
    margin: 30px 0 0;
  }
}

@media screen and (min-width: 1024px) {
  .l-room-button {
    margin-top: 67px;
  }
}

@media screen and (min-width: 1024px) {
  .l-menu-button {
    margin-top: 35px;
  }
}

@media screen and (min-width: 1024px) {
  .l-onsen-button {
    margin-top: 68px;
  }
}

.l-recommend {
  padding: 40px 5%;
  background-image: url(../images/toppage/bg02@2x.png);
  background-position: center center;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .l-recommend {
    padding: 60px 5%;
  }
}

@media screen and (min-width: 1024px) {
  .l-recommend {
    padding: 60px 60px 53px;
  }
}

.l-access-section {
  background-image: url(../images/common/bg@2x.png);
  background-position: center center;
  background-size: cover;
}

.l-footer-top {
  background-image: url(../images/common/bg3@2x.png);
  background-position: center center;
  background-size: cover;
  padding: 16px 2.5%;
}

@media screen and (min-width: 768px) {
  .l-footer-top {
    padding: 60px 5%;
  }
}

@media screen and (min-width: 1024px) {
  .l-footer-top {
    padding: 61px 60px 54px;
  }
}

.l-footer-bottom {
  background-color: #000000;
  padding: 16px;
}

@media screen and (min-width: 1024px) {
  .l-footer-bottom {
    padding: 21px;
  }
}

.l-footer-copyright {
  color: #fff;
  font-size: .75em;
  text-align: center;
}

.l-footer-copyright a {
  color: inherit;
}

.l-footer-copyright a:hover {
  opacity: .7;
}

.l-lower-section {
  padding: 16px 2.5%;
}

@media screen and (min-width: 768px) {
  .l-lower-section {
    padding: 36px 2.5%;
  }
}

@media screen and (min-width: 1024px) {
  .l-lower-section {
    padding-bottom: 150px;
  }
}

@media screen and (min-width: 360px) {
  .l-lower-wrapper {
    width: 90%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 576px) {
  .l-lower-wrapper {
    max-width: 525px;
  }
}

@media screen and (min-width: 768px) {
  .l-lower-wrapper {
    max-width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .l-lower-wrapper {
    max-width: 1180px;
  }
}

.l-units {
  margin-top: 40px;
}

@media screen and (min-width: 1024px) {
  .l-units {
    margin-top: 70px;
  }
}

.l-unit + .l-unit {
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  .l-unit + .l-unit {
    margin-top: 64px;
  }
}

@media screen and (min-width: 1024px) {
  .l-unit + .l-unit {
    margin-top: 84px;
  }
}

/*
  Module
-----------------------------------------------------*/
.is-header-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
}

.is-header-fixed .l-header {
  background-color: #fff;
}

.is-header-fixed .global-nav-item a {
  color: #000000;
}

.is-header-fixed .header-logo {
  display: none;
}

.is-header-fixed .sub-header-logo {
  display: block;
}

.header-logo {
  display: block;
}

.header-logo img {
  width: 121px;
  margin: auto 0;
}

@media screen and (min-width: 1024px) {
  .header-logo img {
    width: 200px;
    height: 40px;
  }
}

.sub-header-logo {
  display: none;
}

.sub-header-logo img {
  width: 121px;
  margin: auto 0;
}

@media screen and (min-width: 1024px) {
  .sub-header-logo img {
    width: 200px;
    height: 40px;
  }
}

.lower-header-logo {
  display: block;
}

.lower-header-logo img {
  width: 121px;
  margin: auto 0;
}

@media screen and (min-width: 1024px) {
  .lower-header-logo img {
    width: 200px;
    height: 40px;
  }
}

.global-nav-item {
  font-weight: 800;
}

.global-nav-item a {
  color: #fff;
  display: block;
  padding: 12px 24px;
}

@media screen and (min-width: 768px) {
  .global-nav-item a {
    font-size: .875em;
    padding: 0;
  }
}

@media screen and (min-width: 1024px) {
  .global-nav-item a {
    font-size: 1em;
  }
}

.global-nav-item a:hover {
  opacity: .7;
}

.global-nav-item + .global-nav-item {
  border-top: 1px solid #999;
}

@media screen and (min-width: 768px) {
  .global-nav-item + .global-nav-item {
    margin-left: 30px;
    border-top: none;
  }
}

.lower-global-nav-item a {
  color: #000000;
}

.is-active-fixed {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
}

.is-active-drawer .l-global-nav {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.is-active-drawer .l-main::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 120%;
  z-index: 2;
}

.is-active-drawer .hamburger {
  background-color: transparent;
}

.is-active-drawer .hamburger::before, .is-active-drawer .hamburger::after {
  top: 0;
  background-color: #fff;
}

.is-active-drawer .hamburger::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.is-active-drawer .hamburger::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.hero {
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
  min-height: 350px;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 1400px) {
  .hero img {
    max-height: 1075px;
  }
}

.hero-body {
  position: absolute;
  top: 50%;
  right: 25%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2;
}

@media screen and (min-width: 1024px) {
  .hero-body {
    top: 47%;
  }
}

.hero-copy {
  color: #fff;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  line-height: 2;
  font-size: 5vw;
  font-weight: 800;
  text-shadow: 0 0 2px #000;
  letter-spacing: .3em;
}

@media screen and (min-width: 576px) {
  .hero-copy {
    font-size: 3vw;
  }
}

@media screen and (min-width: 1024px) {
  .hero-copy {
    font-size: 2.125em;
    line-height: 2.5;
  }
}

@media screen and (min-width: 1024px) {
  .swiper {
    max-height: 1075px;
  }
}

@-webkit-keyframes zoomUp {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
}

@keyframes zoomUp {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
}

.swiper-slide-active .slide-img,
.swiper-slide-duplicate-active .slide-img,
.swiper-slide-prev .slide-img {
  -webkit-animation: zoomUp 10s linear 0s;
          animation: zoomUp 10s linear 0s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.swiper-slide {
  overflow: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

@media screen and (min-width: 768px) {
  .main {
    margin: 0 auto;
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
  }
}

@media screen and (min-width: 1024px) {
  .main {
    padding: 0 60px;
  }
}

@media screen and (min-width: 1400px) {
  .main {
    min-width: 1189px;
  }
}

.main-title {
  line-height: 1.75;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .main-title {
    letter-spacing: .5em;
    line-height: 2.2;
    font-weight: normal;
    font-size: 1.5em;
  }
}

@media screen and (min-width: 1024px) {
  .main-title {
    font-size: 1.75em;
  }
}

@media screen and (min-width: 1400px) {
  .main-title {
    padding-right: 46px;
  }
}

@media screen and (min-width: 768px) {
  .main-title span {
    margin-top: 75px;
  }
}

@media screen and (min-width: 1024px) {
  .main-title span {
    margin-top: 85px;
  }
}

.main-message {
  font-size: .75em;
}

@media screen and (min-width: 768px) {
  .main-message {
    padding-right: 40px;
    margin-top: 75px;
  }
}

@media screen and (min-width: 1024px) {
  .main-message {
    font-size: 1em;
    padding-right: 88px;
    margin-top: 85px;
  }
}

.main-message p {
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .main-message p {
    text-orientation: upright;
    margin-top: 0;
    letter-spacing: .3em;
    line-height: 2.4;
    letter-spacing: .38em;
  }
}

@media screen and (min-width: 768px) {
  .main-message p + p {
    padding-right: 40px;
  }
}

@media screen and (min-width: 1024px) {
  .main-message p + p {
    padding-right: 95px;
  }
}

.main-message-name {
  margin-top: 20px;
  font-size: .875em;
  letter-spacing: .5em;
  text-align: right;
}

@media screen and (min-width: 768px) {
  .main-message-name {
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    margin-top: 0;
    padding-bottom: 17px;
    padding-right: 40px;
  }
}

@media screen and (min-width: 1024px) {
  .main-message-name {
    font-size: 1.375em;
    padding-right: 101px;
  }
}

.heading-primary {
  font-weight: bold;
  line-height: 1.75;
}

@media screen and (min-width: 1024px) {
  .heading-primary {
    font-size: 2.25em;
    font-weight: 500;
  }
}

@media screen and (min-width: 1400px) {
  .heading-primary {
    padding-top: 20px;
  }
}

.heading-page {
  line-height: 1.7222;
}

.text-primary {
  font-size: .875em;
}

@media screen and (min-width: 1024px) {
  .text-primary {
    font-size: 1em;
    padding-top: 53px;
    line-height: 2;
  }
}

.text-primary p {
  padding-top: 10px;
}

@media screen and (min-width: 1024px) {
  .text-primary p {
    padding-top: 0;
  }
}

.room-media {
  position: relative;
}

@media screen and (min-width: 768px) {
  .room-media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1400px) {
  .room-media {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.room-message {
  padding-top: 220px;
}

@media screen and (min-width: 768px) {
  .room-message {
    padding-top: 0;
    padding-left: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .room-message {
    padding-left: 80px;
  }
}

@media screen and (min-width: 1400px) {
  .room-message {
    padding-left: 137px;
  }
}

.room-text br {
  display: none;
}

@media screen and (min-width: 1024px) {
  .room-text br {
    display: block;
  }
}

.room-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

@media screen and (min-width: 768px) {
  .room-image {
    position: relative;
    width: 54.6875%;
    height: 100%;
  }
}

.room-image img {
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 768px) {
  .room-image img {
    width: 100%;
    max-width: 560px;
    height: auto;
  }
}

@media screen and (min-width: 1024px) {
  .room-image img {
    max-width: 1050px;
  }
}

.menu-media {
  margin-top: 40px;
  position: relative;
}

@media screen and (min-width: 768px) {
  .menu-media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .menu-media {
    margin-top: 122px;
  }
}

@media screen and (min-width: 1400px) {
  .menu-media {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.menu-message {
  padding-top: 220px;
}

@media screen and (min-width: 768px) {
  .menu-message {
    padding-top: 0;
    padding-right: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .menu-message {
    padding-right: 80px;
  }
}

@media screen and (min-width: 1400px) {
  .menu-message {
    padding-right: 174px;
  }
}

@media screen and (min-width: 1400px) {
  .menu-message h2 {
    padding-top: 40px;
  }
}

.menu-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

@media screen and (min-width: 768px) {
  .menu-image {
    position: relative;
    width: 54.6875%;
    height: 100%;
  }
}

.menu-image img {
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 768px) {
  .menu-image img {
    width: 100%;
    max-width: 560px;
    height: auto;
  }
}

@media screen and (min-width: 1024px) {
  .menu-image img {
    max-width: 1050px;
  }
}

.onsen-media {
  margin-top: 40px;
  position: relative;
}

@media screen and (min-width: 768px) {
  .onsen-media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .onsen-media {
    margin-top: 122px;
  }
}

@media screen and (min-width: 1400px) {
  .onsen-media {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.onsen-message {
  padding-top: 220px;
}

@media screen and (min-width: 768px) {
  .onsen-message {
    padding-top: 0;
    padding-left: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .onsen-message {
    padding-left: 80px;
  }
}

@media screen and (min-width: 1400px) {
  .onsen-message {
    padding-left: 137px;
  }
}

.onsen-text br {
  display: none;
}

@media screen and (min-width: 1024px) {
  .onsen-text br {
    display: block;
  }
}

.onsen-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

@media screen and (min-width: 768px) {
  .onsen-image {
    position: relative;
    width: 54.6875%;
    height: 100%;
  }
}

.onsen-image img {
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 768px) {
  .onsen-image img {
    width: 100%;
    max-width: 560px;
    height: auto;
  }
}

@media screen and (min-width: 1024px) {
  .onsen-image img {
    max-width: 1050px;
  }
}

.recommend-title {
  text-align: center;
}

.recommend-title img {
  width: 20px;
}

@media screen and (min-width: 1024px) {
  .recommend-title img {
    width: 40px;
  }
}

.recommend-title h2 {
  padding-top: 10px;
  line-height: .888888;
}

@media screen and (min-width: 1024px) {
  .recommend-title h2 {
    padding-top: 23px;
  }
}

.recommend-items {
  width: 90%;
  margin: 0 auto;
}

@media screen and (min-width: 576px) {
  .recommend-items {
    width: 70%;
  }
}

@media screen and (min-width: 768px) {
  .recommend-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    margin-top: 40px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1024px) {
  .recommend-items {
    margin: 66px 0 84px;
    width: 100%;
  }
}

.recommend-item {
  position: relative;
  max-width: 331px;
  margin: 40px auto 0;
}

@media screen and (min-width: 768px) {
  .recommend-item {
    margin-top: 0;
    width: calc(33.3333% - 30px * 2 / 3);
  }
}

@media screen and (min-width: 1024px) {
  .recommend-item {
    margin: 0;
  }
}

.recommend-item figure {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .recommend-item img {
    width: 331px;
  }
}

@media screen and (min-width: 768px) {
  .recommend-item + .recommend-item {
    margin-left: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .recommend-item + .recommend-item {
    margin-left: 94px;
  }
}

.recommend-body {
  padding-top: 53.125vw;
}

@media screen and (min-width: 360px) {
  .recommend-body {
    padding-top: 220px;
  }
}

@media screen and (min-width: 768px) {
  .recommend-body {
    padding-top: 160px;
  }
}

@media screen and (min-width: 992px) {
  .recommend-body {
    padding-top: 17.137vw;
  }
}

@media screen and (min-width: 1024px) {
  .recommend-body {
    padding-top: 16.66666vw;
  }
}

@media screen and (min-width: 1400px) {
  .recommend-body {
    padding-top: 239px;
  }
}

.recommend-body h3 {
  font-size: .875em;
}

@media screen and (min-width: 1024px) {
  .recommend-body h3 {
    font-size: 1.25em;
  }
}

.recommend-body p {
  padding-top: 16px;
  font-size: .75em;
  line-height: 2;
}

@media screen and (min-width: 1024px) {
  .recommend-body p {
    font-size: 1em;
    padding-top: 22px;
  }
}

.recommend-body br {
  display: none;
}

@media screen and (min-width: 1400px) {
  .recommend-body br {
    display: block;
  }
}

.news-title {
  text-align: center;
}

.news-title img {
  width: 20px;
}

@media screen and (min-width: 1024px) {
  .news-title img {
    width: 40px;
  }
}

.news-title h2 {
  padding-top: 10px;
  line-height: .88888;
}

@media screen and (min-width: 1024px) {
  .news-title h2 {
    padding-top: 24px;
  }
}

.news-nav {
  margin-top: 42px;
}

.news-category-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.news-category-nav li {
  font-size: .875em;
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  .news-category-nav li {
    font-size: 1em;
  }
}

.news-category-nav li:first-child {
  margin-right: 10px;
}

@media screen and (min-width: 1024px) {
  .news-category-nav li:first-child {
    margin-left: -15px;
  }
}

.news-category-nav li:last-child {
  margin-left: 10px;
}

@media screen and (min-width: 1024px) {
  .news-category-nav li:last-child {
    margin-left: 53px;
  }
}

@media screen and (min-width: 1024px) {
  .news-category-nav li + li {
    margin-left: 53px;
  }
}

.news-items {
  padding-top: 40px;
  position: relative;
}

@media screen and (min-width: 768px) {
  .news-items {
    padding-top: 49px;
  }
}

@media screen and (min-width: 1400px) {
  .news-items {
    max-width: 1189px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .tab-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.is-active-tab {
  text-decoration: underline;
  -webkit-text-decoration-color: #707070;
          text-decoration-color: #707070;
}

.news-article + .news-article {
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .news-article + .news-article {
    margin-top: 0;
  }
}

@media screen and (min-width: 768px) {
  .news-article {
    width: calc(50% - 49px * 1 / 2);
  }
}

@media screen and (min-width: 768px) {
  .news-article:nth-child(2n) {
    margin-left: 49px;
  }
}

@media screen and (min-width: 768px) {
  .news-article:nth-child(n + 3) {
    margin-top: 20px;
  }
}

.news-article a {
  display: block;
  background-color: #F6F6F6;
}

.news-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px;
}

@media screen and (min-width: 1024px) {
  .news-item {
    padding: 15px 10px;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

.news-item img {
  max-width: 60px;
}

@media screen and (min-width: 1024px) {
  .news-item img {
    max-width: 103px;
  }
}

.news-body {
  max-width: 185px;
  margin-left: 8px;
  position: relative;
}

@media screen and (min-width: 576px) {
  .news-body {
    max-width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .news-body {
    max-width: 395px;
    margin-left: 30px;
  }
}

.news-body h3 {
  padding-top: 20px;
  font-size: .875em;
  color: #000000;
}

@media screen and (min-width: 1024px) {
  .news-body h3 {
    font-size: 1em;
    padding-top: 24px;
  }
}

.news-body p {
  display: block;
  position: absolute;
  top: 0;
  font-size: .75em;
  color: #000000;
}

@media screen and (min-width: 1024px) {
  .news-body p {
    font-size: .875em;
  }
}

.news-body br {
  display: none;
}

@media screen and (min-width: 1024px) {
  .news-body br {
    display: block;
  }
}

.access-title {
  text-align: center;
}

.access-title img {
  width: 20px;
}

@media screen and (min-width: 1024px) {
  .access-title img {
    width: 40px;
  }
}

.access-title h2 {
  padding-top: 10px;
  line-height: .8888;
}

@media screen and (min-width: 1024px) {
  .access-title h2 {
    padding-top: 24px;
  }
}

.access-address {
  font-size: .875em;
  width: 100%;
  margin: 24px auto 0;
}

@media screen and (min-width: 576px) {
  .access-address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .access-address {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 83px;
    font-size: 1em;
  }
}

@media screen and (min-width: 1400px) {
  .access-address {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

.access-address figure {
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .access-address figure {
    margin-left: 126px;
  }
}

.address-info {
  padding-top: 8px;
}

@media screen and (min-width: 576px) {
  .address-info {
    margin-left: 16px;
  }
}

@media screen and (min-width: 768px) {
  .address-info {
    margin-left: 50px;
  }
}

@media screen and (min-width: 1024px) {
  .address-info {
    margin-left: 83px;
  }
}

@media screen and (min-width: 1400px) {
  .address-info {
    max-width: 570px;
  }
}

@media screen and (min-width: 768px) {
  .address-info dl {
    margin-top: -8px;
  }
}

.address-info dt {
  padding-top: 9px;
  font-weight: 800;
  line-height: 2;
}

.address-info dd {
  padding-top: 9px;
  line-height: 2;
}

.address-info p {
  padding-top: 5px;
  line-height: 2;
}

.address-info p br {
  display: none;
}

@media screen and (min-width: 1400px) {
  .address-info p br {
    display: block;
  }
}

.access-map {
  position: relative;
  padding-top: 74.7474%;
  overflow: hidden;
  width: 100%;
}

@media screen and (min-width: 576px) {
  .access-map {
    padding-top: 60%;
  }
}

@media screen and (min-width: 1024px) {
  .access-map {
    padding-top: 74.7474%;
  }
}

.access-map iframe {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 1024px) {
  .footer-nav {
    margin-top: 4px;
  }
}

.footer-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-nav li {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  line-height: 2.9;
}

.footer-nav a {
  display: block;
  color: #000000;
  font-size: 1.125em;
  letter-spacing: .8em;
}

.footer-nav a:hover {
  opacity: .7;
}

.logo-secondary {
  text-align: center;
  padding-top: 24px;
}

@media screen and (min-width: 768px) {
  .logo-secondary {
    padding-top: 60px;
  }
}

@media screen and (min-width: 1024px) {
  .logo-secondary {
    padding-top: 82px;
  }
}

.logo-secondary a {
  display: block;
}

.logo-secondary img {
  width: 100px;
}

@media screen and (min-width: 1024px) {
  .logo-secondary img {
    width: 145px;
    height: 92px;
  }
}

.footer-info {
  font-size: .875em;
  padding-top: 16px;
}

@media screen and (min-width: 768px) {
  .footer-info {
    padding-top: 50px;
  }
}

@media screen and (min-width: 1024px) {
  .footer-info {
    padding-top: 68px;
    font-size: 1em;
  }
}

.footer-info p + p {
  margin-left: 16px;
}

.footer-info-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .footer-info-address {
    letter-spacing: .18em;
  }
}

.footer-info-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 16px;
}

.l-access-map-wrap {
  margin: 16px auto 0;
}

@media screen and (min-width: 576px) {
  .l-access-map-wrap {
    max-width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .l-access-map-wrap {
    max-width: 600px;
    margin: 69px auto 50px;
  }
}

@media screen and (min-width: 1024px) {
  .l-access-map-wrap {
    max-width: 792px;
  }
}

.button-hamburger {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5%;
  width: 24px;
  height: 24px;
  margin: auto 0;
  background-color: transparent;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  z-index: 3;
}

@media screen and (min-width: 768px) {
  .button-hamburger {
    display: none;
  }
}

.hamburger {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: block;
  width: 18px;
  height: 2px;
  margin: auto;
  background-color: #fff;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.hamburger::before, .hamburger::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: inherit;
}

.hamburger::before {
  top: -5px;
}

.hamburger::after {
  top: 5px;
}

.lower-hamburger {
  background-color: #000000;
}

.is-active-hamburger {
  background-color: #000000;
}

.button {
  position: relative;
  display: block;
  padding: 8px;
  text-align: center;
  font-size: .875em;
}

@media screen and (min-width: 1024px) {
  .button {
    font-size: 1em;
    padding: 15px 8px;
  }
}

.button-primary {
  background-color: transparent;
  color: #000000;
  border: 1px solid #707070;
}

.hover-left,
.hover-right {
  position: relative;
  z-index: 1;
  overflow: hidden;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.hover-left::before,
.hover-right::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #333;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.hover-left:hover,
.hover-right:hover {
  color: #fff;
}

.hover-left:hover::before,
.hover-right:hover::before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.hover-left::before {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.hover-right::before {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.modalset {
  overflow: hidden;
}

.button-modal {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 20%;
  background-color: #978F10;
  color: #fff;
  font-size: .75em;
  font-weight: 800;
  padding: 3px 10px;
  text-align: right;
  width: 80px;
  z-index: 5;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .button-modal {
    right: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .button-modal {
    width: 170px;
    height: 54px;
    font-size: 1em;
    padding: 15px 37px;
  }
}

.button-modal::before {
  content: '';
  position: absolute;
  background-image: url(../images/common/calender@2x.png);
  background-size: cover;
  width: 11px;
  height: 11px;
  top: 50%;
  left: 9%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (min-width: 1024px) {
  .button-modal::before {
    left: 18%;
    width: 22px;
    height: 22px;
    left: 37px;
  }
}

.button-modal:hover {
  opacity: .8;
}

.button-modal-close {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 18px;
  height: 18px;
  background-color: transparent;
  cursor: pointer;
}

@media screen and (min-width: 576px) {
  .button-modal-close {
    top: 20px;
    right: 22px;
    width: 24px;
    height: 24px;
  }
}

.modal-close {
  position: absolute;
  width: 100%;
  height: 2px;
  display: block;
  background-color: #707070;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
  cursor: pointer;
}

.modal-close::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  display: block;
  background-color: #707070;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.modal-form {
  background-color: #fff;
  border: 1px solid #707070;
  padding: 8px 16px;
}

@media screen and (min-width: 360px) {
  .modal-form {
    padding: 24px 32px;
  }
}

@media screen and (min-width: 768px) {
  .modal-form {
    padding: 30px 60px;
  }
}

.modal-form dl {
  padding-top: 11px;
}

.modal-form dt {
  line-height: 1.6875;
  padding-top: 14px;
  font-size: .875em;
}

@media screen and (min-width: 1024px) {
  .modal-form dt {
    font-size: 1em;
  }
}

.modal-form input::-webkit-input-placeholder {
  font-size: .875em;
  font-family: "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
}

.modal-form input:-ms-input-placeholder {
  font-size: .875em;
  font-family: "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
}

.modal-form input::-ms-input-placeholder {
  font-size: .875em;
  font-family: "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
}

.modal-form input::placeholder {
  font-size: .875em;
  font-family: "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
}

#modal-bg {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.heading-modal {
  text-align: center;
  border-bottom: 1px solid #E7E7E7;
  padding-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .heading-modal {
    padding-bottom: 24px;
    font-size: 1em;
  }
}

@media screen and (min-width: 1024px) {
  .heading-modal {
    font-size: 1.25em;
    line-height: 1.7;
    padding-bottom: 30px;
  }
}

.name {
  padding-top: 10px;
}

.name input {
  width: 100%;
  border: 1px solid #E7E7E7;
  padding: 9px 10px;
}

.email {
  padding-top: 10px;
}

.email input {
  width: 100%;
  border: 1px solid #E7E7E7;
  padding: 9px 10px;
}

.plan {
  padding-top: 10px;
}

.plan select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  border: 1px solid #E7E7E7;
  padding: 9px 10px;
  font-family: "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  color: #797878;
  cursor: pointer;
  background-color: transparent;
}

.time {
  padding-top: 10px;
}

.time input {
  width: 100%;
  border: 1px solid #E7E7E7;
  padding: 9px 10px;
}

.submit {
  text-align: center;
  margin: 24px 0;
}

@media screen and (min-width: 360px) {
  .submit {
    margin: 32px 0;
  }
}

@media screen and (min-width: 768px) {
  .submit {
    margin: 40px 0;
  }
}

@media screen and (min-width: 1024px) {
  .submit {
    margin-top: 64px;
    margin-bottom: 60px;
  }
}

.submit input {
  background-color: #fff;
  border: 1px solid #707070;
  font-family: "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  width: 112px;
  height: 32px;
}

@media screen and (min-width: 768px) {
  .submit input {
    width: 198px;
    height: 42px;
  }
}

/*
  Lower Page(Common)
-----------------------------------------------------*/
.lower-hero img {
  max-height: 500px;
}

.lower-hero-body {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.lower-hero-copy {
  color: #fff;
  font-weight: 800;
}

@media screen and (min-width: 768px) {
  .lower-hero-copy {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 768px) and (min-width: 1024px) {
  .lower-hero-copy {
    font-size: 2.125em;
  }
}

.breadcrumblist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.breadcrumblist li {
  position: relative;
  font-size: .75em;
  padding-right: 16px;
}

@media screen and (min-width: 1024px) {
  .breadcrumblist li {
    font-size: 1em;
  }
}

.breadcrumblist li::after {
  content: '>';
  position: absolute;
  top: 0;
  right: 0;
}

.breadcrumblist li:last-child::after {
  content: '';
}

.breadcrumblist li:not(:first-child) {
  margin-left: 8px;
}

.breadcrumblist a {
  display: block;
  color: #000000;
}

@media screen and (min-width: 1024px) {
  .breadcrumblist a {
    font-size: 1em;
  }
}

.unit-primary,
.unit-secondary {
  width: 100%;
  position: relative;
}

@media screen and (min-width: 768px) {
  .unit-primary,
  .unit-secondary {
    padding-top: 40px;
  }
}

@media screen and (min-width: 1024px) {
  .unit-primary,
  .unit-secondary {
    padding-top: 57px;
  }
}

@media screen and (min-width: 768px) {
  .unit-primary {
    padding-left: 25%;
  }
}

@media screen and (min-width: 1024px) {
  .unit-primary {
    padding-left: 31%;
  }
}

@media screen and (min-width: 768px) {
  .unit-secondary {
    padding-right: 25%;
  }
}

@media screen and (min-width: 1024px) {
  .unit-secondary {
    padding-right: 31%;
  }
}

.main-text {
  font-size: .875em;
  text-align: center;
  margin-top: 40px;
  line-height: 2;
}

@media screen and (min-width: 768px) {
  .main-text {
    margin-top: 64px;
  }
}

@media screen and (min-width: 1024px) {
  .main-text {
    font-size: 1em;
  }
}

.body-primary,
.body-secondary {
  padding: 200px 8px 8px;
  background-image: url(../images/common/bg@2x.png);
  background-size: cover;
}

@media screen and (min-width: 360px) {
  .body-primary,
  .body-secondary {
    padding-top: 50vw;
  }
}

@media screen and (min-width: 576px) {
  .body-primary,
  .body-secondary {
    padding: 310px 16px 16px;
  }
}

@media screen and (min-width: 768px) {
  .body-primary {
    padding: 40px 40px 40px 35%;
  }
}

@media screen and (min-width: 1024px) {
  .body-primary {
    padding: 60px 68px 110px 238px;
  }
}

@media screen and (min-width: 768px) {
  .body-secondary {
    padding: 40px 35% 40px 40px;
  }
}

@media screen and (min-width: 1024px) {
  .body-secondary {
    padding: 60px 200px 89px 68px;
  }
}

.heading-secondary {
  font-weight: bold;
}

@media screen and (min-width: 1024px) {
  .heading-secondary {
    font-size: 1.5em;
    font-weight: normal;
  }
}

.lead {
  font-size: .875em;
  padding-top: 8px;
  line-height: 2;
}

@media screen and (min-width: 1024px) {
  .lead {
    font-size: 1em;
    padding-top: 50px;
  }
}

.lead br {
  display: none;
}

@media screen and (min-width: 1200px) {
  .lead br {
    display: block;
  }
}

.note {
  font-size: .75em;
  padding-top: 16px;
}

@media screen and (min-width: 1024px) {
  .note {
    font-size: .875em;
    padding-top: 52px;
  }
}

.note span {
  padding-right: 5px;
}

.left-image,
.right-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

@media screen and (min-width: 768px) {
  .left-image,
  .right-image {
    width: 40vw;
    max-width: 340px;
  }
}

@media screen and (min-width: 1024px) {
  .left-image,
  .right-image {
    max-width: 100%;
  }
}

.right-image {
  left: auto;
  text-align: right;
}

/*
  Onsen page
-----------------------------------------------------*/
.onsen-info {
  border-top: 1px solid #E7E7E7;
  border-bottom: 1px solid #E7E7E7;
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  .onsen-info {
    margin-top: 100px;
  }
}

@media screen and (min-width: 1024px) {
  .onsen-info {
    margin-top: 156px;
  }
}

.onsen-info h2 {
  font-size: 1em;
  text-align: center;
  margin-top: 50px;
}

@media screen and (min-width: 768px) {
  .onsen-info h2 {
    font-size: 1.25em;
  }
}

@media screen and (min-width: 1024px) {
  .onsen-info h2 {
    margin-top: 95px;
    font-size: 1.625em;
  }
}

.onsen-info dl {
  margin: 0 auto;
  padding: 50px 0 74px;
  width: 90%;
}

@media screen and (min-width: 1024px) {
  .onsen-info dl {
    max-width: 880px;
  }
}

.onsen-info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #E7E7E7;
  border-bottom: 1px solid #E7E7E7;
  line-height: 2.1333;
  padding: 17.5px 0;
}

@media screen and (min-width: 1024px) {
  .onsen-info-item {
    font-size: .9375em;
  }
}

.onsen-info-item dt {
  width: 25%;
}

.onsen-info-item dd {
  width: 75%;
}
